<!DOCTYPE html>
<html>
<head>
    <link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Abhaya+Libre&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belleza&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Average&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abhaya+Libre&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/photos/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/photos/favicon-16x16.png" sizes="16x16" />
    <title>Oskar Przybylski - Website about me!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function animate() {
           
           
           
            if ($('#article1').css('display') == 'none') {
                if ($('#article2').css('display') == 'none') {
                    $("#article1").slideDown();
                    $("#article").slideUp();
                }
                else {
                   
                    $("#article").slideDown();
                    $("#article2").hide();
                }
              
            }
            else {
                $("#article").slideDown();
                $("#article1").slideUp();
            }

            $("#li1").toggleClass("buttonclicked");
            $("#li2").removeClass("buttonclicked");
         
            window.scrollTo(0, $("#article").position().top);





        }
        function animate1() {
           

            if ($('#article1').css('display') == 'none') {
                if ($('#article').css('display') == 'none') {
                  
                    $("#article1").slideDown();
                    $("#article2").slideUp();
                }
                else {
                    $("#article2").slideDown();
                    $("#article").hide();
                   
                }
            }
            else {
                $("#article2").slideDown();
                $("#article1").slideUp();
            }
           
 

            $("#li2").toggleClass("buttonclicked");
            $("#li1").removeClass("buttonclicked");
            window.scrollTo(0, $("#article2").position().top);





        }

    </script>

</head>
<body>

    <div class="body-content">
        @RenderBody()
     <hr />

     <footer>





         <h2><img src="~/photos/mailbeztla.png" /><a href="mailto:przybylski.oskar@gmail.com">           Przybylski.oskar@gmail.com</a></h2>
         <h2><img src="~/photos/facebookbeztla.png" /><a href="https://www.facebook.com/profile.php?id=100006098472848">           Mój Facebook</a></h2>
         <h2><img src="~/photos/cvbeztla.png" /><a href="~/Content/Oskar Przybylski--cv.pdf">           Chcesz zobaczyć moje CV? Kliknij!</a></h2>
         <h2><img src="~/photos/githubbeztla.png" /><a href="https://github.com/OskarPrzybylski">           Mój GitHub</a></h2>

      
         <h3 class="center" style="background: rgba(0, 0, 0, 0.4); color: white; width: 100%;">Strona stworzona przez Oskara Przybylskiego</h3>




     </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unobtrusive")
    @RenderSection("scripts", required: false)
</body>

</html>
