@using WebSiteAboutMe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

    
    
<div id="loginForm" class="allform center">
    <h1 class="center" style="text-align: center;">@ViewBag.Title.</h1>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
   
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="informationsform center">
            <h1>Adres email</h1>
            @Html.TextBoxFor(m => m.Email, new { @class = "" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


            <h1>Hasło</h1>

            @Html.PasswordFor(m => m.Password, new { @class = "" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>


        <input type="submit" value="Zaloguj" class="btn btn-default" />

        <p>
            @Html.ActionLink("Zarejestruj się jako nowy użytkownik", "Register")
        </p>
        @* Włącz to ustawienie po włączeniu potwierdzenia konta dla funkcji resetowania hasła
            <p>
                @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
            </p>*@
    }
</div>
   
     
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}