<!DOCTYPE html>
<html>
<head>
    <link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="body-content">
        @RenderBody()
        <hr />
        
        <footer>


            <h1 class="center"><img src="~/photos/Obraz3.png" class="center" /></h1>
            <h2 class="center"><img src="~/photos/pobrane4.png" /><a href="mailto:przybylski.oskar@gmail.com">           Przybylski.oskar@gmail.com</a></h2>
            <h2 class="center"><img src="~/photos/pobrane1.png" /><a href="https://www.facebook.com/profile.php?id=100006098472848">           Mój Facebook</a></h2>
            <h2 class="center"><img src="~/photos/pobrane2.png" /><a href="~/Content/Oskar Przybylski--cv.pdf">           Chcesz zobaczyć moje CV? Kliknij!</a></h2>
            <h2 class="center"><img src="~/photos/pobrane3.png" /><a href="https://github.com/OskarPrzybylski">           Mój GitHub</a></h2>


            <h2 class="center" style="background: rgba(0, 0, 0, 0.4); color: white; width: 100%;">Strona stworzona przez Oskara Przybylskiego</h2>

        </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
